<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <title> 鑫相科技 </title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="/static/blog/videoplay/newcommons.css" rel="stylesheet" type="text/css">

</head>
<body >
<div class="container">
	<div class="row clearfix">
	   {% if url %}				
            <li style="color:#3ACC3A;">正在播放:{{name}}</li>
            <iframe style="width: 1024px; height: 728px;" src={{lineroad}}{{url}} > </iframe>    
        {% else %} <br>
            <div style="font-size:36px;color:#3ACC3A"> 无广告播放 开始啦 . . .</div><br>

            <div style="font-size:18px;"> 1、复制视频网址到观看网址，点击观看；
		      2、不能播放时，先切换播放器线路；若仍不能播放，再选择复选框线路 OK!；3、为了保证播放效果，建议用Firefox、Google Chrome浏览器观看。4、手机观看时，点击广告左上方，关掉广告。5、一键手机观看VIP电影电视剧。    
            </div><br> 
        {% endif %}    
        <div class="col-md-12">             	
            <form class="form-horizontal" role="form" action="#" method="post">
				{% csrf_token %}

				<div class="col-md-2">
				    <div class="input-group">
				
                        <input type="text" name="name" value="{{name}}"  style="display:none">
                        <span class="input-group-addon label-info" style="font-size:20px;">选择线路</span>
                        <select name="lineroad" class="form-control" style="height:40px; width: 120px; font-size:20px;" required>
                        {% for i in line_list %}
                            <option   value="{{ i }}">线路{{ forloop.counter }}</option>
                        {% endfor %}
                            <option value="{{lineroad}}" selected="selected">线路{{l}}</option>
                        </select>
            	   </div>
            	</div>
                <br> <br> <br>
				<div class="col-md-5">
            		<div class="input-group">                      	
                		<span class="input-group-addon label-info"  style="height:40px;font-size:20px;">观看网址</span> 
                		<input class="form-control"  style="height:40px;font-size:16px;" name="url" value="{{url}}"  type="text" autocomplete="off" required/>
					</div>
                </div>			
				<div class="col-md-2">
					<div class="form-group ">
						<div class="col-sm-offset-2 col-sm-10">
						 	<button type="submit" class="btn btn-success btn-lg">观看</button>
						</div>
					</div>
				
				</div>
			</form>
			
            <div class="col-md-2">
                    <div class="form-group ">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="/blog/vipplay/" class="btn btn-success btn-lg">手机观看VIP视频</a>
                        </div>
                    </div>
                
            </div>

             <div class="col-md-2">
                    <div class="form-group ">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="http://www.kankanews.com/" class="btn btn-success btn-lg">新闻直播间</a>
                        </div>
                    </div>
                
            </div>

        </div>

    </div>


 <div class="tips">
            <div id="clear" class="height20"></div>
			<strong>现已支持以下网站视频播放：</strong>

    <div class="logos_lists">
           
          <dl>
                	<dt><a href="http://www.iqiyi.com/" target="_blank"><img src="/static/blog/videoplay/aqylogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>爱奇艺视频</dd>
              </dl>
              
                 <dl>
                	<dt><a href="http://www.youku.com/" target="_blank"><img src="/static/blog/videoplay/youkulogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>优酷视频</dd>
                </dl>
                
                <dl>
                	<dt><a href="http://www.le.com/" target="_blank"><img src="/static/blog/videoplay/letvlogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>乐视TV视频</dd>
                </dl>
				<dl>
                	<dt><a href="http://v.qq.com/" target="_blank"><img src="/static/blog/videoplay/qqlogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>腾讯视频</dd>
                </dl>
             
                <dl>
                	<dt><a href="http://www.tudou.com/" target="_blank"><img src="/static/blog/videoplay/tudoulogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>土豆视频</dd>
                </dl>
                
                  <dl>
                	<dt><a href="http://tv.sohu.com/" target="_blank"><img src="/static/blog/videoplay/sohulogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>搜狐视频</dd>
                </dl>
                
                <dl>
                	<dt><a href="http://www.56.com/" target="_blank"><img src="/static/blog/videoplay/56logo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>56视频</dd>
                </dl>
                <dl>
                	<dt><a href="http://www.ku6.com/" target="_blank"><img src="/static/blog/videoplay/ku6logo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>酷6视频</dd>
                </dl>
                <dl>
                	<dt><a href="http://www.wasu.cn/" target="_blank"><img src="/static/blog/videoplay/wasulogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>WASU华数视频</dd>
                </dl>
                <dl>
                	<dt><a href="http://www.yinyuetai.com/" target="_blank"><img src="/static/blog/videoplay/yinyuetailogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>音悦台MV</dd>
                </dl>
                <dl>
                	<dt><a href="http://www.mgtv.com/" target="_blank"><img src="/static/blog/videoplay/hunantvlogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>芒果TV视频</dd>
                </dl>
                <dl>
                	<dt><a href="http://video.sina.com.cn/" target="_blank"><img src="/static/blog/videoplay/sinalogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>新浪视频</dd>
                </dl>
                <dl>
                	<dt><a href="http://v.163.com/" target="_blank"><img src="/static/blog/videoplay/163logo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>网易视频</dd>
                </dl>             
				<dl>
                	<dt><a href="https://www.6.cn/" target="_blank"><img src="/static/blog/videoplay/6logo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>6间房视频</dd>
                </dl>
                <dl>
                	<dt> <a href="http://www.kugou.com/"  target="_blank">  <img src="/static/blog/videoplay/kugoulogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>酷狗MV视频</dd>
                </dl>
                <dl>
                	<dt><a href="https://www.baomihua.com/"  target="_blank"><img src="/static/blog/videoplay/baomihualogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>爆米花视频</dd>
                </dl>
                <dl>
                	<dt><a href="https://v.ifeng.com/"  target="_blank"><img src="/static/blog/videoplay/ifenglogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>凤凰视频</dd>
                </dl>
                <dl>
                	<dt><a href="http://www.kankanews.com/"  target="_blank"><img src="/static/blog/videoplay/kankannewslogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>看看新闻网视频</dd>
                </dl>
                <dl>
                	<dt><a href="http://www.mtime.com/"  target="_blank"><img src="/static/blog/videoplay/mtimelogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>时光网视频</dd>
                </dl>
                <dl>
                	<dt><a href="http://www.kuwo.cn/"  target="_blank"><img src="/static/blog/videoplay/kuwologo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>酷我音乐MV视频</dd>
                </dl>
                <dl>
                	<dt><a href="http://vip.1905.com/?fr=homepc_menu_vip"  target="_blank"><img src="/static/blog/videoplay/1905logo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>1905电影网视频</dd>
                </dl>
				<dl>
                	<dt><a href="http://www.tangdou.com/"  target="_blank"><img src="/static/blog/videoplay/tangdoulogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>糖豆视频</dd>
                </dl>
                <dl>
                	<dt><a href="http://tv.cctv.com/"  target="_blank"><img src="/static/blog/videoplay/cntvlogo.png" data-bd-imgshare-binded="1"></a></dt>
                    <dd>央视网</dd>
                </dl>

                <dl>
                	<dt><a href="http://www.51r.cn/"  target="_blank"> 劲爆视频</a></dt>

                </dl>
                <dl>
                	<dt><a href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=1&tn=monline_4_dg&wd=%E8%A7%86%E9%A2%91%E7%94%B5%E5%BD%B1%E7%BD%91&oq=1905%25E7%2594%25B5%25E5%25BD%25B1%25E7%25BD%2591%25E8%25A7%2586%25E9%25A2%2591&rsv_pq=de860db200002a6e&rsv_t=975abV7OBsUPx8wQHXC%2FbfPlTT3s8%2FC1ZfBubVe8dBhVo0w0oADgjb8AoWddiODrbhfx&rqlang=cn&rsv_enter=0&inputT=15681&rsv_sug3=27&rsv_sug1=30&rsv_sug7=100&rsv_sug4=387641"  target="_blank"> 更多视频...</a></dt>

                </dl>
                 <div id="counter"></div>

                <div class="wait">本站仅供测试使用，请勿用于任何商业用途，否则后果自负。上海鑫相科技技术有限公司。</div>
            </div>
	
    </div>

</div>

<script type="text/javascript">
if (localStorage.pagecount){
  localStorage.pagecount=Number(localStorage.pagecount) +1;
}
else{
  localStorage.pagecount=1;
}
document.getElementById('counter').innerHTML = "浏览数统计：" + localStorage.pagecount ;

</script>

</body>
</html>