<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <title> 鑫相科技 </title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link href="/static/blog/videoplay/newcommons.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container">
    <a href="/blog/videoplay/"  style="color:#f00;float: left;"> 返回</a>
    {% if url %}
        <li style="color:#3ACC3A;">正在播放:{{name}}</li>
        <div class="row clearfix">
               
            <iframe style="width: 1200px; height: 728px;" src={{lineroad}}{{url}} > </iframe>    

        </div>
    {% endif %}

    <div class="tips">
        <div id="clear" class="height20"></div>
	    <strong>一键手机观看VIP视频：</strong>

        <div class="logos_lists">          

            <dl><dt>
            <form action='#' method='post' id='狄仁杰之幽冥道'>
                {% csrf_token %}
                <input name ='name' value='狄仁杰之幽冥道' style="display:none"  type='text'>
                 <input name='url' value='https://www.iqiyi.com/v_19rr05tu6s.htmlvfrm=19-9-0-1' style="display:none" type='text'>
                 <a href='#' onclick="document.getElementById('狄仁杰之幽冥道').submit();" style="font-size:14px;"> 狄仁杰之幽冥道</a>
            </form>
            </dt></dl>

            <dl><dt>
            <form action='#' method='post' id='情挑六月花(美国)'>
                {% csrf_token %}
                <input name ='name' value='情挑六月花(美国)' style="display:none"  type='text'>
                 <input name='url' value='https://www.iqiyi.com/v_19rrhl4urg.html#vfrm=2-4-0-1' style="display:none" type='text'>
                 <a href='#' onclick="document.getElementById('情挑六月花(美国)').submit();" style="font-size:14px;"> 情挑六月花(美国)</a>
            </form>
            </dt></dl>

            <dl><dt>
            <form action='#' method='post' id='末路重生'>
                {% csrf_token %}
                <input name ='name' value='末路重生(美国)' style="display:none"  type='text'>
                 <input name='url' value='https://www.iqiyi.com/v_19rr7qf5e8.html#vfrm=2-4-0-1' style="display:none" type='text'>
                 <a href='#' onclick="document.getElementById('末路重生').submit();" style="font-size:14px;"> 末路重生(美国)</a>
            </form>
            </dt></dl>

            <dl><dt>
            <form action='#' method='post' id='不忠诱罪'>
                {% csrf_token %}
                <input name ='name' value='不忠诱罪(美国)' style="display:none"  type='text'>
                 <input name='url' value='https://www.iqiyi.com/v_19rrn70w8c.html#vfrm=2-4-0-1' style="display:none" type='text'>
                 <a href='#' onclick="document.getElementById('不忠诱罪').submit();" style="font-size:14px;"> 不忠诱罪(美国)</a>
            </form>
            </dt></dl>

            <dl><dt>
            <form action='#' method='post' id='偷窥'>
                {% csrf_token %}
                <input name ='name' value='偷窥(美国)' style="display:none"  type='text'>
                 <input name='url' value='https://www.iqiyi.com/v_19rrl56nno.html#vfrm=2-4-0-1' style="display:none" type='text'>
                 <a href='#' onclick="document.getElementById('偷窥').submit();" style="font-size:14px;"> 偷窥(美国)</a>
            </form>
            </dt></dl>

            <dl><dt>
            <form action='#' method='post' id='沉睡魔咒'>
                {% csrf_token %}
                <input name ='name' value='沉睡魔咒(美国)' style="display:none"  type='text'>
                 <input name='url' value='https://www.iqiyi.com/v_19rroi2pgs.html#vfrm=2-4-0-1' style="display:none" type='text'>
                 <a href='#' onclick="document.getElementById('沉睡魔咒').submit();" style="font-size:14px;"> 沉睡魔咒(美国)</a>
            </form>
            </dt></dl>


            <dl><dt>
            <form action='#' method='post' id='碟中谍'>
                {% csrf_token %}
                <input name ='name' value='碟中谍(美国)' style="display:none"  type='text'>
                 <input name='url' value='https://www.iqiyi.com/v_19rrho98z4.html#vfrm=2-4-0-1' style="display:none" type='text'>
                 <a href='#' onclick="document.getElementById('碟中谍').submit();" style="font-size:14px;"> 碟中谍(美国)</a>
            </form>
            </dt></dl>


            <dl><dt>
            <form action='#' method='post' id='桃色交易'>
                {% csrf_token %}
                <input name ='name' value='桃色交易(美国)' style="display:none"  type='text'>
                 <input name='url' value='https://www.iqiyi.com/v_19rrk3pukg.html#vfrm=2-4-0-1' style="display:none" type='text'>
                 <a href='#' onclick="document.getElementById('桃色交易').submit();" style="font-size:14px;"> 桃色交易(美国)</a>
            </form>
            </dt></dl>

            <dl><dt>
            <form action='#' method='post' id='谍影特工'>
                {% csrf_token %}
                <input name ='name' value='谍影特工(美国)' style="display:none"  type='text'>
                 <input name='url' value='https://www.iqiyi.com/v_19rrlrklbk.html#vfrm=2-4-0-1' style="display:none" type='text'>
                 <a href='#' onclick="document.getElementById('谍影特工').submit();" style="font-size:14px;"> 谍影特工(美国)</a>
            </form>
            </dt></dl>


              
                
            <div id="counter"></div>

            
        </div>
    </div>	

</div>



</body>
</html>